<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{{asset('css/materialize.css')}}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified JavaScript -->
        <script src="{{asset('js/materialize.js')}}"></script>
        <link rel="stylesheet" href="{{asset('fonts/roboto/Roboto-Medium.woff')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}VideHome{% endblock %}</title>
        {% block stylesheets %}

      {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('apple-touch-icon.png') }}" />
    </head>
<body class="cyan">
  <div id="error-page">

    <div class="row">
      <div class="col s12">
        <div class="browser-window">
          <div class="top-bar">
            <div class="circles">
              <div id="close-circle" class="circle"></div>
              <div id="minimize-circle" class="circle"></div>
              <div id="maximize-circle" class="circle"></div>
            </div>
          </div>
          <div class="content">
            <div class="row">
                <p>An Error Occurred: {{ status_text }} {{ status_code }}</p>
              <div id="site-layout-example-top" class="col s12">
                <h4 class="flat-text-logo center white-text caption-uppercase">Oooopppss y'a un bug :(</h4>
              </div>
              <div id="site-layout-example-right" class="col s12 m12 l12">
                <div class="row center">
                  <h1 class="text-long-shadow col s12" style="font-size: 10em;">500</h1>
                  <h5 class="center white-text col s12">Vaut mieux retourner à l'accueil :) </h5>
                </div>
                <div class="row center">
                  <p class="center s12"><button onclick="goBack()" class="btn waves-effect orange">Retour</button> <a href="index.html" class="btn waves-effect orange">Accueil</a>
                    <p>
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function goBack() {
      window.history.back();
    }
  </script>
</body>
</html>
