{% extends 'base.html.twig' %}

{% block body %}

<div class="slider z-depth-2">
  <ul class="slides">
    <li>
      <img src="{{ asset('images/livingroom.jpg') }}" > <!-- random image -->
      <div class="caption center-align">
        <h3 class="white grey-text text-darken-3">Vider ou remplir votre appartement!</h3>
        <a href="{{ path('evenement_new') }}" class="btn">Créer un événement</a>
      </div>
    </li>
    <li>
      <img src="{{ asset('images/shopping.jpg') }}"> <!-- random image -->
      <div class="caption center-align">
        <h3 class="white grey-text text-darken-3">Discuter, négocier, échanger</h3>
        <a href="{{ path('evenement_new') }}" class="btn">Créer un événement</a>
      </div>
    </li>
  </ul>
</div>
<div class="divider"></div>
<div class="section">
  <h3 class="center-align">Prochaines dates</h3>
  <div class="divider"></div>
  <div id="wrapper">
    <div class="container">
      <div class="row">
        {% for evenement in evenements|reverse|slice(1,8)  %}
        {% if evenement.dateDebut >= date() %}
          <div class="col s12 m3">
            <div class="card " style="height: 22em">
              <div class="card-image">
                <img src="{{evenement.getCoverWebPath}}" style="height: 10em">
                <a class="btn-floating halfway-fab waves-effect waves-light red" href="{{ path('evenement_show', { 'id': evenement.id }) }}"><i class="material-icons">visibility</i></a>
              </div>
              <div class="card-content">
                <h5>{{ evenement.titre |capitalize}}</h5>
                <h6>{{ evenement.dateDebut|date('d M Y') }} à {{ evenement.heureDebut|date('H:i') }}</h6>
                <p>{{ evenement.categorie.nom }} à {{ evenement.utilisateur.ville |capitalize}}</p>
                {% if  evenement.place <= evenement.participants|length  %}
                <p><span class=" badge green white-text">Complet</span></p>
                {% else %}
                <p>{{ evenement.place - evenement.participants|length }} places disponibles</p>
                {% endif %}
              </div>
            </div>
          </div>
            {% endif %}
        {% endfor %}
      </div>
      <a href="{{ path('evenement_index')}}" class="cyan-text" style="font-size:2em">Tout afficher...</a>
    </div>
  </div>
</div>

<div class="divider"></div>
<div class="section">
  <h3 class="center-align">Bientôt complet</h3>
    <div class="divider"></div>
  <div id="wrapper">
    <div class="container">
      <div class="row">
        {% for evenement in evenements %}
        {% if  evenement.dateDebut >= date() and evenement.place - evenement.participants|length > 0 and evenement.place - evenement.participants|length < 5  %}
        <!--|slice(1, 4)-->
        <div class="col s12 m3">
          <div class="card" style="height: 22em">
            <div class="card-image">
              <img src="{{evenement.getCoverWebPath}}" style="height: 10em">
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="{{ path('evenement_show', { 'id': evenement.id }) }}"><i class="material-icons">visibility</i></a>
            </div>
            <div class="card-content">
              <h6>{{ evenement.titre |capitalize}}</h6>
              <h6>{{ evenement.dateDebut|date('d M Y') }} à {{ evenement.heureDebut|date('H:i') }}</h6>
              <p>{{ evenement.categorie.nom }} à {{ evenement.utilisateur.ville |capitalize}}</p>
              <p>Place dispo: <span class=" badge red white-text">{{ evenement.place - evenement.participants|length }}</span></p>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="section">
    <h3 class="center-align">Videhomes terminés</h3>
      <div class="divider"></div>
    <div id="wrapper">
      <div class="container">
        <div class="row">
          {% for evenement in evenements|slice(1, 11)|sort  %}
            {% if evenement.dateDebut <= date() %}
          <!--|slice(1, 4)-->
          <div class="col s12 m3">
            <div class="card" style="height: 22em">
              <div class="card-image">
                <img src="{{evenement.getCoverWebPath}}" style="height: 10em">
                <a class="btn-floating halfway-fab waves-effect waves-light red" href="{{ path('evenement_show', { 'id': evenement.id }) }}"><i class="material-icons">visibility</i></a>
              </div>
              <div class="card-content">
                <h6>{{ evenement.titre |capitalize}}</h6>
                <h6>{{ evenement.dateDebut|date('d M Y') }} à {{ evenement.heureDebut|date('H:i') }}</h6>
                <p>{{ evenement.categorie.nom }} à {{ evenement.utilisateur.ville |capitalize}}</p>
                <p class="cyan-text">Terminé</p>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="divider"></div>
  </div>
</div>
<div class='scrolltop'>
  <div class='scroll btn-floating btn-large cyan' ><i class="large material-icons cyan">keyboard_capslock</i></div>
</div>




{% endblock %}

{% block javascripts %}
  <script >
  $(document).ready(function(){
  $('.slider').slider({
        indicators: false,
        height: 800
      });
  $(window).scroll(function() {
      if ($(this).scrollTop() > 50 ) {
          $('.scrolltop:hidden').stop(true, true).fadeIn();
      } else {
          $('.scrolltop').stop(true, true).fadeOut();
      }
  });

  $(function(){
    $(".scroll").click(function(){
      $("html,body").animate({scrollTop:$(".slides").offset().top},"1000");return false})})
});


  </script>
{% endblock %}

{% block stylesheets %}
<style>
.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;
}
.scroll {
	position:absolute;
	right:10px;
	bottom:10px;

	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}
.scroll:hover {
	background:rgba(178,178,178,1.0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}
.scroll:hover .large {
	padding-top:-10px;
}
.scroll .large {
	font-size:30px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}

/*
orange => #ff9800
cyan > #00bcd4
*/
.card img {
    max-height: 200px;
    object-fit: cover;
}
.card.medium {
    height: 300px;
}
.card img.materialized.active {
    max-height: none;
    object-fit: none;
}
.caption{
  margin-top: 5em;
}

i.material-icons{
  background-color: #ff9800;
}




</style>
{% endblock %}
