{% extends 'base.html.twig' %}

{% block body %}

<div class="slider z-depth-2">
    <ul class="slides">
      <li>
        <img src="{{ asset('images/livingroom.jpg') }}" > <!-- random image -->
        <div class="caption center-align">
          <h3 class="white grey-text text-darken-3">Vider ou remplir votre appartement!</h3>
          <a href="{{ path('evenement_new') }}" class="btn">Créer un événement</a>
        </div>
      </li>
      <li>
        <img src="{{ asset('images/shopping.jpg') }}"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="white grey-text text-darken-3">Discuter, négocier, échanger</h3>
          <a href="{{ path('evenement_new') }}" class="btn">Créer un événement</a>
        </div>
      </li>
    </ul>
  </div>
  <div class='scrolltop'>
    <div class='scroll btn-floating btn-large cyan' ><i class="large material-icons cyan">keyboard_capslock</i></div>
</div>

  <div class="divider"></div>
    <div class="section">
  <h4 class="center-align">Prochaines dates</h4>
  <div class="divider"></div>
  <div id="wrapper">
    <div class="container">
      <div class="row">
        {% for evenement in evenements %}
        <!--|slice(1, 4)-->
        <div class="col s12 m4 l3">
          <div class="card medium z-depth-2">
            <div class="card-image">

              <a href="{{ path('evenement_show', { 'id': evenement.id }) }}"><img class="responsive-img" src="{{evenement.getCoverWebPath}}">  </a>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <a href="{{ path('evenement_show', { 'id': evenement.id }) }}"><h6 class="header">{{ evenement.titre }}</h6></a>
                <p>{{ evenement.dateDebut|date('d M Y') }} à Lyon</p>
                <p>{{ evenement.place}} places</p>
                <p>{{ evenement.categorie.nom}}</p>
                <a class="btn-floating halfway-fab waves-effect waves-light red" href="{{ path('evenement_show', { 'id': evenement.id }) }}"><i class="material-icons">add</i></a>
              </div>
            </div>
          </div>
          <div class="divider"></div>
        </div>

        {% endfor %}
      </div>
    </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section">
<h4 class="center-align">Bientôt complet</h4>
<div class="divider"></div>
</div>




{% endblock %}

{% block javascripts %}
  <script >
  $(document).ready(function(){
  $('.slider').slider({
        indicators: false,
        height: 800
      });
  $(window).scroll(function() {
      if ($(this).scrollTop() > 50 ) {
          $('.scrolltop:hidden').stop(true, true).fadeIn();
      } else {
          $('.scrolltop').stop(true, true).fadeOut();
      }
  });

  $(function(){$(".scroll").click(function(){$("html,body").animate({scrollTop:$(".slides").offset().top},"1000");return false})})
});


  </script>
{% endblock %}

{% block stylesheets %}
<style>
.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;
}
.scroll {
	position:absolute;
	right:10px;
	bottom:10px;

	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}
.scroll:hover {
	background:rgba(178,178,178,1.0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}
.scroll:hover .large {
	padding-top:-10px;
}
.scroll .large {
	font-size:30px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}

/*
orange => #ff9800
cyan > #00bcd4
*/
.card.medium {
    height: 300px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14);
}

.caption{
  margin-top: 15em;
}

i.material-icons{
  background-color: #ff9800;
}




</style>
{% endblock %}
