{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <div class="row" style="padding-top: 8em">
      <div class="col m11 l11 animated bounceInDown">
        <div class="card-panel hoverable">
    <h3 class="center-align">Modifier vos informations</h3>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="center-align">
        <input type="submit" value="Modifier" class="btn "/>
        <a class="btn cyan" href="{{ path('monprofil') }}">Retour</a>
        </div>
    {{ form_end(edit_form) }}
<div class="divider">

</div>
    <div class="center-align">
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn red">
            {{ form_end(delete_form) }}
    </div>
  </div></div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
#footniv1{
  display: none
}

</style>
{% endblock %}
