{% extends 'base.html.twig' %}

{% block body %}
<h4 >Mon profil</h4>
      {% if utilisateur == app.user %}
      <div id="monprofil">
        <div class="divider"></div>
            <div class="row">
              <div class="col s12 m8 offset-m1">
                <div class="card cyan white-text">
                  <div class="card-content white-text ">
                    <div class="row">
                      <div class="col s12 m4 ">
                        <i class="large material-icons valign-wrapper" style="font-size:9em;">assignment_ind</i>
                      </div>
                      <div class="col s12 m8 left-align">
                    <p style="font-size: 1.5em">Nom:<a class="white-text"href="{{ path('utilisateur_show', { 'id': utilisateur.id }) }}">{{ app.user.username|capitalize }}</p>
                    <p style="font-size: 1.5em"> Prénom:{{ utilisateur.nom|capitalize }}</a></p>
                    <p style="font-size: 1.5em">Date d'inscription: {{ utilisateur.dateInscription|date('d M Y') }}</p>
                    <p style="font-size: 1.5em">Email: {{ app.user.email }}</p>
                    </div>
                  </div>
                </div>
                  <div class="card-action white center-align">
                    <a href="{{ path('utilisateur_edit', { 'id': utilisateur.id}) }}">Modifier</a>
                    <a href="{{ path('utilisateur_delete', { 'id': utilisateur.id }) }}">Supprimer</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    {% endif %}
    <h4 >Y 'a rien ici :)</h4>
{% endblock %}
