{% trans_default_domain 'FOSUserBundle' %}

<div class="container regis center-align">
  <a href="/" class="brand-logo animated zoomIn"><img src="{{ asset('images/logoblanc.png') }}" ></a>
  <div class="row">

    <div class="col m6 s12 offset-m3 animated bounceInDown">
      <div class="card-panel hoverable">
        {% if error %}
          <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="row center-align ">
          <i class="large material-icons cyan-text">perm_identity</i>
        </div>
        <form action="{{ path("fos_user_security_check") }}" method="post">
          {% if csrf_token %}
              <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
          {% endif %}

          <label for="username">{{ 'security.login.username'|trans }}</label>
          <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

          <label for="password">{{ 'security.login.password'|trans }}</label>
          <input type="password" id="password" name="_password" required="required" />

          <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
          <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
          <div class="divider"></div>
          <div class="center-align">
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="  waves-effect waves-light btn amber darken-2"/>
          </div>
          <div class="center-align" style="padding-top:15px">
          <a href="{{ path('fos_user_registration_register') }}" class="orange-text">S'inscrire ?</a>
          </div>
        </form>
      </div>
      <div class="center-align">
      <a href="{{ path("fos_user_resetting_request")}}" class="white-text">Mot de passe oublié ?</a>
    </div>
    </div>
  </div>

{% block stylesheets %}
<style>
  body{
    background-color: #00bcd4;
  }

  .divider{
    background-color:white;
    height: 20px;
  }

</style>
{% endblock %}
