{% extends 'base.html.twig' %}


{% block body %}

<!-- Content -->
<div class="parallax-container center valign-wrapper">
  <div class="container" style="top:55px; height: 10vh;">
    <div class="row">
      <div class="col s12 white-text">
        <div class="row">
          <form class="col s12 m10 l10 white offset-m2 offset-l1" action="{{ path('evenement_index') }}" method="get">
            <div class="row" style="padding-right:25px;">
              <div class="input-field col s12 m10 l10">
                <i class="material-icons prefix">edit</i>
                <input id="icon_mot" type="text" class="validate" name="filter" >
                <label for="icon_mot">Mot clé</label>
              </div>
              <div class="input-field col s12 m1 l1">
                <button class="btn-floating btn-large waves-effect waves-light orange " type="submit"><i class="material-icons">search</i></button>
              </div>
            </div>
          </form>
        </div>
        <div class="divider transparent"></div>
        <div class="divider transparent"></div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <a href="{{ path('evenement_new') }}" class="btn">Créer un événement</a>
        {% else %}
          <a href="/login" class="btn">Créer un événement</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="{{ asset('images/sacshop.jpg') }}">
  </div>
</div>
<div class="divider"></div>
  <div class="col m12 s12 l2">
    <div class="row">
      <div class="col l3 s12 m3 offset-m1 offset-l1">
        <div class="collection">
          <h4 class="cyan-text center-align">Catégories</h4>
          <hr>
          <a href="#!" class="collection-item grey-text text-darken-3">Vide-dressing</a>
          <a href="#!" class="collection-item grey-text text-darken-3">Vide-grenier</a>
          <a href="#!" class="collection-item grey-text text-darken-3">Jeux vidéo</a>
          <a href="#!" class="collection-item grey-text text-darken-3">Puériculture</a>
          <a href="#!" class="collection-item grey-text text-darken-3">Jeux ou jouets</a>
          <a href="#!" class="collection-item grey-text text-darken-3">Fournitures de bureau</a>
          <a href="#!" class="collection-item grey-text text-darken-3">Ameublement</a>
          <a href="#!" class="collection-item grey-text text-darken-3">Electromenager</a>
          <a href="#!" class="collection-item grey-text text-darken-3">Linge de maison</a>
        </div>
      </div>
      <div class="col l6 s12 m6">
        <div id="tri" class="row ">
          <span class="col m2 offset-m1 btn z-depth-0">{{ knp_pagination_sortable(evenements, 'Titre', 'bp.titre') }} </span>
          <span class="col m2 offset-m1 btn z-depth-0">{{ knp_pagination_sortable(evenements, 'Date', 'bp.dateDebut') }}</span>
          <span class="col m2 offset-m1 btn z-depth-0">{{ knp_pagination_sortable(evenements, 'Place', 'bp.place') }}</span>
        </div>
        <div class="divider"></div>
          {% for evenement in evenements|reverse %}
            {% if evenement.dateDebut >= date() %}
            <div class="card">
              <div class="row">
                <div class="col l4 m4 s12 valign-wrapper">
                  <a href="{{ path('evenement_show', { 'id': evenement.id }) }}"><img src="{{ asset(evenement.getCoverWebPath) }}" alt="" class="scale" style="height: 12em"></a>
                </div>
                <div class="col l4 m4 s12">
                  <h5 class="title">{{ evenement.titre |capitalize }}</h5>
                  <p>{{ evenement.dateDebut|date('d M Y') }} à {{ evenement.utilisateur.ville |capitalize}}<br>
                     {% if evenement.heureDebut %}{{ evenement.heureDebut|date('H:i') }}{% endif %} à {% if evenement.heureFin %}{{ evenement.heureFin|date('H:i') }}{% endif %}<br>
                     {{ evenement.categorie.nom }}<br>
                     {{ evenement.place }} places <br>
                     {{evenement.participants|length }} inscrits <br>
                     Organsisé par <span class="cyan-text">{{ evenement.utilisateur.prenom|capitalize }}</span>
                  </p>
                </div>
                {% if evenement.participants|length == evenement.place %}
                <div class="col l3 m3 s12 center-align ">
                  <div class="btnpadding">
                    <a href="{{ path('evenement_show', { 'id': evenement.id }) }}" class="btn">Voir</a>
                  </div>
                  <div style="padding-top:20px;">
                    <a href="{{ path('inscrire', { 'id': evenement.id }) }}" class="btn disabled">Complet</a>
                  </div>
                  </div>
                {% elseif evenement.dateDebut <= date() %}
                <div class="col l3 m3 s12 center-align ">
                  <div class="btnpadding">
                      <a href="{{ path('evenement_show', { 'id': evenement.id }) }}" class="btn">Voir</a>
                  </div>
                  <div style="padding-top:20px;">
                    <a href="{{ path('inscrire', { 'id': evenement.id }) }}" class="btn disabled">Terminé</a>
                  </div>
                </div>
                {% else %}
                <div class="col l3 m3 s12 center-align ">
                  <div class="btnpadding">
                      <a href="{{ path('evenement_show', { 'id': evenement.id }) }}" class="btn">Voir</a>
                  </div>
                  <div style="padding-top:20px;">
                    <a href="{{ path('inscrire', { 'id': evenement.id }) }}" class="btn">S'inscrire</a>
                  </div>
                </div>
                {% endif %}
              </div>
          </div>
            {% endif %}
          {% endfor %}
          <div>
            {{ knp_pagination_render(evenements) }}
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block stylesheets %}
<style>
td{
  text-align: center;
}

.select-wrapper{
  width: 40%;
  color:#00bcd4;
}

.dropdown-content li>a, .dropdown-content li>span{
  color:#00bcd4;
}

.materialboxed{
  width: 50%;
}
#imgCover{
  width: 100%;
}

input{
  color: black;
}

.scale{
  padding-top:25px;
  max-width: 100%;
  vertical-align: middle;
}
.btnpadding{
  padding-top:40px;


}

#tri span{
  background-color: white;
  border: 1px solid #ff9800;
  color:#ff9800;

}

#tri a{
color:#ff9800;
}

#tri span:hover{
background-color: #ff9800;
color:white;
}

#tri a.sortable:hover{
color:white;
}

.intro-text {
	font-size: 50px;
	color: #fff;
	text-align: center;
	margin-top: 15%;
}


@media screen and(max-width: 600px) {
  .select-wrapper{
    width: 50%;
  }
}
</style>
{% endblock %}

{% block javascripts %}
  <script >
  $(document).ready(function(){
  $('select').material_select();
   $('.parallax').parallax();

    $('.datepicker').pickadate({
  defaultDate: '01-01-2017',
  selectMonths: true,//Creates a dropdown to control month
  selectHours: true,//Creates a dropdown to control month
  selectYears: 15,//Creates a dropdown of 15 years to control year
  //The title label to use for the month nav buttons
  labelMonthNext: 'Mois suivant',
  labelMonthPrev: 'Mois précedent',
  //The title label to use for the dropdown selectors
  labelMonthSelect: 'Selectionner Mois',
  labelYearSelect: 'Selectionner l\'année',
  min: ['now'],
  max: [2057,12,31],
  //Months and weekdays
  monthsFull: [ 'Janvier', 'Fevriér', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Decembre' ],
  monthsShort: [ 'Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Jui', 'Juil', 'Aoû', 'Sep', 'Oct', 'Nov', 'Dec' ],
  weekdaysFull: [ 'Dimanche', 'Lundi', 'Mardi', 'Mercrdi', 'Jeudi', 'Vendredi', 'Samedi' ],
  weekdaysShort: [ 'Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam' ],
  //Materialize modified
  weekdaysLetter: [ 'S', 'L', 'M', 'M', 'J', 'V', 'S' ],
  //Today and clear
  today: 'Aujourd\'hui',
  clear: 'Effacer',
  close: 'Fermer',
  //The format to show on the `input` element
  format: 'd mmm yyyy',
  });

});
  </script>
{% endblock %}
