{% extends 'base.html.twig' %}

{% block body %}
    <h1>Evenements list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Heuredebut</th>
                <th>Heurefin</th>
                <th>Image</th>
                <th>Place</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td><a href="{{ path('evenement_show', { 'id': evenement.id }) }}">{{ evenement.id }}</a></td>
                <td>{{ evenement.titre }}</td>
                <td>{% if evenement.dateDebut %}{{ evenement.dateDebut|date('d-m-Y') }}{% endif %}</td>
                <td>{% if evenement.dateFin %}{{ evenement.dateFin|date('d-m-Y') }}{% endif %}</td>
                <td>{% if evenement.heureDebut %}{{ evenement.heureDebut|date('H:i:s') }}{% endif %}</td>
                <td>{% if evenement.heureFin %}{{ evenement.heureFin|date('H:i:s') }}{% endif %}</td>
                <td>{{ evenement.file }}</td>
                <td><img src="{{ asset(evenement.getCoverWebPath) }}" class="materialboxed" /></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('evenement_show', { 'id': evenement.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('evenement_edit', { 'id': evenement.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('evenement_new') }}">Créer un événement</a>
        </li>
    </ul>
{% endblock %}

{% block stylesheets %}
<style>



</style>
{% endblock %}
