{% extends 'base.html.twig' %}

{% block body %}
<div class="container">


    <h1>Evenement creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_row(form.file) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('evenement_index') }}">Retour aux événements </a>
        </li>
    </ul>

    </div>
{% endblock %}

{% block javascripts %}
<script>

$(document).ready(function() {
  $('.datepicker').pickadate({
defaultDate: '01-01-2017',
selectMonths: true,//Creates a dropdown to control month
selectHours: true,//Creates a dropdown to control month
selectYears: 15,//Creates a dropdown of 15 years to control year
//The title label to use for the month nav buttons
labelMonthNext: 'Mois suivant',
labelMonthPrev: 'Mois précedent',
//The title label to use for the dropdown selectors
labelMonthSelect: 'Selectionner Mois',
labelYearSelect: 'Selectionner l\'année',
min: ['now'],
max: [2057,12,31],
//Months and weekdays
monthsFull: [ 'Janvier', 'Fevriér', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Decembre' ],
monthsShort: [ 'Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Jui', 'Juil', 'Aoû', 'Sep', 'Oct', 'Nov', 'Dec' ],
weekdaysFull: [ 'Dimanche', 'Lundi', 'Mardi', 'Mercrdi', 'Jeudi', 'Vendredi', 'Samedi' ],
weekdaysShort: [ 'Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam' ],
//Materialize modified
weekdaysLetter: [ 'S', 'L', 'M', 'M', 'J', 'V', 'S' ],
//Today and clear
today: 'Aujourd\'hui',
clear: 'Effacer',
close: 'Fermer',
//The format to show on the `input` element
format: 'd-m-yy',
});



$('.timepicker').pickatime({
    default: 'Now',
    twelvehour: false, // change to 12 hour AM/PM clock from 24 hour
    donetext: 'OK',
    cleartext: 'Effacer',
    canceltext: 'Fermer',
    autoclose: true,
    vibrate: true // vibrate the device when dragging clock hand

});

    });

</script>
{% endblock %}



{% block stylesheets %}
<style>

.picker__date-display
{
  background-color: #26C6DA;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected
{
  background-color: #26C6DA;
}

.picker__close, .picker__today, .picker__clear {
    font-size: 1.1rem;
    padding: 0 1rem;
    color: #ffa000;
}

.picker__nav--prev:hover { background-color: #ffa000; }
.picker__nav--next:hover { background-color: #ffa000; }


</style>
{% endblock %}
