{% extends 'base.html.twig' %}

{% block content %}
<div id="mesvidehomes">

  <h4 >Mes videhomes</h4>
   {% if evenements is not empty  %}
    <a class="btn " href="{{ path('evenement_new') }}">Ajouter un videhome</a>
    <table class="responsive-table highlight">
        <thead>
            <tr>
                <th>Titre</th>
                <th>organisateur</th>
                <th>Date debut</th>
                <th>Catégorie</th>
                <th>Nombre de place</th>
                <th>Nombre d'inscrit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for evenement in evenements %}
         {% if evenement.utilisateur == app.user %}
            <tr>
                <td><a href="{{ path('evenement_show', { 'id': evenement.id }) }}">{{ evenement.titre }}</a></td>
                <td>{{ evenement.utilisateur.prenom}}</td>
                <td >{{ evenement.dateDebut|date('d M Y')  }}</td>
                <td> {{ evenement.categorie.nom }}<br></td>
                <td >{{ evenement.dateFin|date('d M Y')  }}</td>
                <td >{{ evenement.place}}</td>
                <td>
                  <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Actions</a>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li>
                          <a href="{{ path('evenement_show', { 'id': evenement.id }) }}">Voir</a>
                        </li>
                        <li>
                          <a href="{{ path('evenement_edit', { 'id': evenement.id }) }}">Modifier</a>
                        </li>
                        <li>
                          <a href="{{ path('evenement_delete', { 'id': evenement.id }) }}">Supprimer</a>
                        </li>
                    </ul>
                </td>
            </tr>

          {% endif %}

        {% endfor %}
        </tbody>
    </table>
      {% else %}
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="center-align cyan">
      <h5 class="center-align white-text">Vous n'avez pas encore créé un videhome</h5>
      </div>
      <div class="center-align">
      <a class="btn" href="{{ path('evenement_new') }}">Créer un videhome</a>
  </div>
  {% endif %}

    </div>


  {% endblock %}

  {% block javascripts %}
    <script >


    </script>
  {% endblock %}

  {% block stylesheets %}
  <style>

  #footniv1{
    display: none
  }


  </style>
  {% endblock %}
